[submodule "src/isaac_ros_common"]
	path = src/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
	branch = release-3.2

[submodule "src/isaac_ros_nvblox"]
	path = src/isaac_ros_nvblox
	url = https://github.com/KasperMollerHansen/isaac_ros_nvblox.git
	branch = release-3.2-custom

[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git

[submodule "src/osep_simulation_environment"]
	path = src/osep_simulation_environment
	url = https://github.com/KasperMollerHansen/osep_simulation_environment.git

[submodule "src/osep_nvblox_utils"]
	path = src/osep_nvblox_utils
	url = https://github.com/KasperMollerHansen/osep_nvblox_utils.git


[submodule "src/osep_path_planner"]
	path = src/osep_path_planner
	url = https://github.com/BjarkeHJ/osep_path_planner.git
