[submodule "src/isaac_ros_common"]
	path = src/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
	branch = release-3.2

[submodule "src/isaac_ros_nvblox"]
	path = src/isaac_ros_nvblox
	url = https://github.com/KasperMollerHansen/isaac_ros_nvblox.git
	branch = release-c-3.2.0

[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/KasperMollerHansen/px4_msgs.git
	branch = release-1.0

[submodule "src/osep_simulation_environment"]
	path = src/osep_simulation_environment
	url = https://github.com/KasperMollerHansen/osep_simulation_environment.git
	branch = release-1.0

[submodule "src/osep_core"]
	path = src/osep_core
	url = https://github.com/BjarkeHJ/osep_core.git
